<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>商业调查表</string>
	<string>工业调查表</string>
	<string>办公调查表</string>
	<string>低密度住宅调查表</string>
	<string>普通住宅调查表</string>
</array>
</plist>
