<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array/>
	<array/>
	<array/>
	<array/>
	<array/>
	<array/>
	<array>
		<string>与系统完全对应</string>
		<string>已拆分</string>
		<string>已合并</string>
		<string>完全不对应</string>
		<string>无法判断</string>
	</array>
	<array/>
	<array/>
	<array>
		<string>优势位置</string>
		<string>一般位置</string>
		<string>偏远位置</string>
	</array>
	<array>
		<string>精装</string>
		<string>简装</string>
		<string>毛坯</string>
	</array>
	<array/>
	<array/>
	<array/>
	<array/>
	<array/>
	<array/>
	<array>
		<string>单面</string>
		<string>双面</string>
		<string>以上情况不适用</string>
	</array>
	<array>
		<string>好</string>
		<string>较好</string>
		<string>一般</string>
		<string>较差</string>
		<string>差</string>
	</array>
	<array>
		<string>有</string>
		<string>无</string>
	</array>
	<array/>
	<array/>
	<array>
		<string>开发商自用</string>
		<string>业主自用购置</string>
		<string>开发商一手租赁</string>
		<string>业主转租</string>
		<string>其他</string>
	</array>
	<array>
		<string>IT/通讯</string>
		<string>金融/保险</string>
		<string>广告/传媒</string>
		<string>运输/物流/仓储</string>
		<string>房地产/建筑</string>
		<string>医疗/制药</string>
		<string>住宿/餐饮</string>
		<string>水电/燃气</string>
		<string>教育/文化</string>
		<string>其他</string>
	</array>
	<array>
		<string>外商独资企业</string>
		<string>港澳台企业</string>
		<string>合资企业</string>
		<string>国有企业</string>
		<string>民营企业</string>
		<string>机关事业单位</string>
		<string>非营利性组织/社会团体</string>
		<string>其他</string>
	</array>
	<array/>
	<array>
		<string>是</string>
		<string>否</string>
	</array>
	<array/>
	<array/>
	<array>
		<string>业主</string>
		<string>中介</string>
		<string>估计</string>
		<string>其他</string>
	</array>
	<array/>
	<array>
		<string>业主</string>
		<string>中介</string>
		<string>估计</string>
		<string>其他</string>
	</array>
	<array/>
	<array/>
	<array/>
</array>
</plist>
