<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>楼盘名称       </key>
		<array/>
	</dict>
	<dict>
		<key>系统楼栋编号</key>
		<array/>
	</dict>
	<dict>
		<key>系统楼栋名称</key>
		<array/>
	</dict>
	<dict>
		<key>实际楼栋名称</key>
		<array/>
	</dict>
	<dict>
		<key>无法调查</key>
		<array>
			<string>无法调查说明</string>
		</array>
	</dict>
	<dict>
		<key>竣工年代</key>
		<array/>
	</dict>
	<dict>
		<key>总楼层</key>
		<array/>
	</dict>
	<dict>
		<key>地上楼层</key>
		<array/>
	</dict>
	<dict>
		<key>地下楼层</key>
		<array/>
	</dict>
	<dict>
		<key>建筑形态</key>
		<array/>
	</dict>
	<dict>
		<key>联排别墅数量</key>
		<array/>
	</dict>
	<dict>
		<key>相对位置</key>
		<array/>
	</dict>
	<dict>
		<key>备注</key>
		<array/>
	</dict>
</array>
</plist>
