<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>调查人</key>
		<array/>
	</dict>
	<dict>
		<key>调查时间</key>
		<array/>
	</dict>
	<dict>
		<key>系统楼盘名称</key>
		<array/>
	</dict>
	<dict>
		<key>实际楼盘名称</key>
		<array/>
	</dict>
	<dict>
		<key>系统楼盘编号</key>
		<array/>
	</dict>
	<dict>
		<key>楼盘别名</key>
		<array/>
	</dict>
	<dict>
		<key>竣工年代</key>
		<array/>
	</dict>
	<dict>
		<key>详细地址1</key>
		<array/>
	</dict>
	<dict>
		<key>详细地址2</key>
		<array/>
	</dict>
	<dict>
		<key>开发商</key>
		<array/>
	</dict>
	<dict>
		<key>楼盘类型</key>
		<array/>
	</dict>
	<dict>
		<key>建筑风格</key>
		<array>
			<string>建筑风格其它</string>
		</array>
	</dict>
	<dict>
		<key>立面材质</key>
		<array>
			<string>立面材质其它</string>
		</array>
	</dict>
	<dict>
		<key>物管公司</key>
		<array/>
	</dict>
	<dict>
		<key>物业管理费</key>
		<array/>
	</dict>
	<dict>
		<key>物管费备注</key>
		<array/>
	</dict>
	<dict>
		<key>容积率</key>
		<array/>
	</dict>
	<dict>
		<key>建筑密度</key>
		<array/>
	</dict>
	<dict>
		<key>绿地率</key>
		<array/>
	</dict>
	<dict>
		<key>带大面积中心花园+带大面积中心广场</key>
		<array/>
	</dict>
	<dict>
		<key>带大面积中心湖泊+大面积其他水体,如流溪、瀑布</key>
		<array/>
	</dict>
	<dict>
		<key>成规模种树+大面积草坪</key>
		<array/>
	</dict>
	<dict>
		<key>大面积园+</key>
		<array/>
	</dict>
	<dict>
		<key>大型商场+知名超市</key>
		<array/>
	</dict>
	<dict>
		<key>商业街+高级会所</key>
		<array/>
	</dict>
	<dict>
		<key>很少商业配套+</key>
		<array/>
	</dict>
	<dict>
		<key>公共车位 </key>
		<array/>
	</dict>
	<dict>
		<key>室内车位</key>
		<array/>
	</dict>
	<dict>
		<key>露天车位</key>
		<array/>
	</dict>
	<dict>
		<key>网球场+高尔夫球场</key>
		<array>
			<string>运动设施其它</string>
		</array>
	</dict>
	<dict>
		<key>篮球场+室内泳池</key>
		<array/>
	</dict>
	<dict>
		<key>室外泳池+健身会所</key>
		<array/>
	</dict>
	<dict>
		<key>登山私+</key>
		<array/>
	</dict>
	<dict>
		<key>其它特色配套</key>
		<array/>
	</dict>
	<dict>
		<key>托儿所                         </key>
		<array/>
	</dict>
	<dict>
		<key>幼儿园                         </key>
		<array/>
	</dict>
	<dict>
		<key>小学学位                     </key>
		<array/>
	</dict>
	<dict>
		<key>中学学位                     </key>
		<array/>
	</dict>
	<dict>
		<key>海滨别墅                     </key>
		<array>
			<string>海滨名称</string>
		</array>
	</dict>
	<dict>
		<key>河流湖泊别墅             </key>
		<array>
			<string>河流湖泊名称</string>
		</array>
	</dict>
	<dict>
		<key>山景别墅                     </key>
		<array>
			<string>山景名称</string>
		</array>
	</dict>
	<dict>
		<key>城市核心区别墅          </key>
		<array>
			<string>城市核心区名称</string>
		</array>
	</dict>
	<dict>
		<key>公园别墅                     </key>
		<array>
			<string>公园名称</string>
		</array>
	</dict>
	<dict>
		<key>高尔夫别墅                 </key>
		<array>
			<string>高尔夫名称</string>
		</array>
	</dict>
	<dict>
		<key>园林别墅                     </key>
		<array/>
	</dict>
	<dict>
		<key>其它资源</key>
		<array/>
	</dict>
	<dict>
		<key>楼盘效果图</key>
		<array/>
	</dict>
	<dict>
		<key>楼盘平面图</key>
		<array/>
	</dict>
	<dict>
		<key>配套设施图</key>
		<array/>
	</dict>
	<dict>
		<key>内外部景观图</key>
		<array/>
	</dict>
	<dict>
		<key>不利因素</key>
		<array/>
	</dict>
	<dict>
		<key>楼盘特色</key>
		<array/>
	</dict>
</array>
</plist>
