<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array/>
	<array/>
	<array/>
	<array/>
	<array/>
	<array/>
	<array/>
	<array/>
	<array/>
	<array/>
	<array>
		<string>纯别墅</string>
		<string>别墅中含少量多高层</string>
		<string>多高层与别墅混合</string>
		<string>多高层中含少量别墅</string>
	</array>
	<array>
		<string>欧式别墅</string>
		<string>美式别墅</string>
		<string>西班牙式别墅</string>
		<string>中式别墅</string>
		<string>其他</string>
	</array>
	<array>
		<string>涂料</string>
		<string>面砖</string>
		<string>石材</string>
		<string>其他</string>
	</array>
	<array/>
	<array/>
	<array/>
	<array/>
	<array/>
	<array/>
	<array>
		<string>带大面积中心花园</string>
		<string>带大面积中心广场</string>
		<string>带大面积中心湖泊</string>
		<string>大面积其他水体,如流溪、瀑布</string>
		<string>成规模种树</string>
		<string>大面积草坪</string>
		<string>大面积园</string>
	</array>
	<array/>
	<array/>
	<array/>
	<array/>
	<array/>
	<array/>
	<array>
		<string>大型商场</string>
		<string>知名超市</string>
		<string>商业街</string>
		<string>高级会所</string>
		<string>很少商业配套</string>
	</array>
	<array/>
	<array/>
	<array/>
	<array/>
	<array/>
	<array>
		<string>网球场</string>
		<string>高尔夫球场</string>
		<string>篮球场</string>
		<string>室内泳池</string>
		<string>室外泳池</string>
		<string>健身会所</string>
		<string>登山私</string>
	</array>
	<array/>
	<array>
		<string>无</string>
		<string>有</string>
	</array>
	<array>
		<string>无</string>
		<string>有</string>
	</array>
	<array>
		<string>无</string>
		<string>有</string>
	</array>
	<array>
		<string>无</string>
		<string>有</string>
	</array>
	<array>
		<string>否</string>
		<string>是</string>
	</array>
	<array>
		<string>否</string>
		<string>是</string>
	</array>
	<array>
		<string>否</string>
		<string>是</string>
	</array>
	<array>
		<string>否</string>
		<string>是</string>
	</array>
	<array>
		<string>否</string>
		<string>是</string>
	</array>
	<array>
		<string>否</string>
		<string>是</string>
	</array>
	<array>
		<string>否</string>
		<string>是</string>
	</array>
	<array/>
	<array/>
	<array/>
	<array/>
	<array/>
	<array/>
	<array/>
</array>
</plist>
