<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>楼盘选择        </key>
		<array/>
	</dict>
	<dict>
		<key>系统楼栋编号</key>
		<array/>
	</dict>
	<dict>
		<key>系统楼栋名称</key>
		<array/>
	</dict>
	<dict>
		<key>实际楼栋名称</key>
		<array/>
	</dict>
	<dict>
		<key>无法调查</key>
		<array>
			<string>无法调查说明</string>
		</array>
	</dict>
	<dict>
		<key>竣工时间</key>
		<array/>
	</dict>
	<dict>
		<key>竣工时间准确性          </key>
		<array/>
	</dict>
	<dict>
		<key>地上楼层</key>
		<array/>
	</dict>
	<dict>
		<key>地下楼层</key>
		<array/>
	</dict>
	<dict>
		<key>办公楼栋类型</key>
		<array>
			<string>楼栋类型其它</string>
		</array>
	</dict>
	<dict>
		<key>楼栋类型其它</key>
		<array/>
	</dict>
	<dict>
		<key>办公+住宅</key>
		<array/>
	</dict>
	<dict>
		<key>零售商业+酒店住宿</key>
		<array/>
	</dict>
	<dict>
		<key>工业+其他</key>
		<array>
			<string>主要用途其他</string>
		</array>
	</dict>
	<dict>
		<key>主要用途备注</key>
		<array/>
	</dict>
	<dict>
		<key>外墙装修情况</key>
		<array/>
	</dict>
	<dict>
		<key>外墙保养情况</key>
		<array/>
	</dict>
	<dict>
		<key>外墙照片(3-10张)</key>
		<array/>
	</dict>
	<dict>
		<key>大堂装修情况</key>
		<array/>
	</dict>
	<dict>
		<key>大堂保养情况</key>
		<array/>
	</dict>
	<dict>
		<key>大堂照片(3-10张)</key>
		<array/>
	</dict>
	<dict>
		<key>标准层装修情况</key>
		<array/>
	</dict>
	<dict>
		<key>标准层保养情况</key>
		<array/>
	</dict>
	<dict>
		<key>标准层装修照片(3-10张)</key>
		<array/>
	</dict>
	<dict>
		<key>标准层平面图(1~10张)</key>
		<array/>
	</dict>
	<dict>
		<key> 装修情况备注</key>
		<array/>
	</dict>
	<dict>
		<key>客梯数量(个)</key>
		<array/>
	</dict>
	<dict>
		<key>货梯数量(个)</key>
		<array/>
	</dict>
	<dict>
		<key>空调类型</key>
		<array/>
	</dict>
	<dict>
		<key>地上停车位</key>
		<array/>
	</dict>
	<dict>
		<key>地下停车位</key>
		<array/>
	</dict>
	<dict>
		<key>银行+餐饮</key>
		<array/>
	</dict>
	<dict>
		<key>购物中心+空中花园</key>
		<array/>
	</dict>
	<dict>
		<key>会议中心+便利店</key>
		<array/>
	</dict>
	<dict>
		<key>酒店宾馆+商务中心</key>
		<array/>
	</dict>
	<dict>
		<key>健身中心+其它</key>
		<array>
			<string> 内部配套其它</string>
		</array>
	</dict>
	<dict>
		<key>配套设施备注</key>
		<array/>
	</dict>
	<dict>
		<key>物业管理公司</key>
		<array/>
	</dict>
	<dict>
		<key>物业管理费</key>
		<array/>
	</dict>
	<dict>
		<key>包含中央空调费          </key>
		<array/>
	</dict>
	<dict>
		<key>物业管理评价</key>
		<array/>
	</dict>
	<dict>
		<key>物业管理备注</key>
		<array/>
	</dict>
	<dict>
		<key>自持自用+统一出租</key>
		<array/>
	</dict>
	<dict>
		<key>租售混合+其它</key>
		<array>
			<string>租售模式其它</string>
		</array>
	</dict>
	<dict>
		<key>空置率</key>
		<array/>
	</dict>
	<dict>
		<key>售价均价(元/m²)</key>
		<array/>
	</dict>
	<dict>
		<key>租金平均租金(元/m²)</key>
		<array/>
	</dict>
	<dict>
		<key>租售情况备注</key>
		<array/>
	</dict>
</array>
</plist>
