<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>选择楼栋</key>
		<array/>
	</dict>
	<dict>
		<key>楼栋编号</key>
		<array/>
	</dict>
	<dict>
		<key>现用房号</key>
		<array/>
	</dict>
	<dict>
		<key>楼层范围</key>
		<array/>
	</dict>
	<dict>
		<key>房屋结构</key>
		<array/>
	</dict>
	<dict>
		<key>南+东</key>
		<array/>
	</dict>
	<dict>
		<key>西+北</key>
		<array/>
	</dict>
	<dict>
		<key>东南+东北</key>
		<array/>
	</dict>
	<dict>
		<key>西南+西北</key>
		<array/>
	</dict>
	<dict>
		<key>房+厅</key>
		<array/>
	</dict>
	<dict>
		<key>厨卫+阳台</key>
		<array/>
	</dict>
	<dict>
		<key>花园+</key>
		<array/>
	</dict>
	<dict>
		<key>采光面</key>
		<array/>
	</dict>
	<dict>
		<key>噪音    </key>
		<array/>
	</dict>
	<dict>
		<key>景观</key>
		<array/>
	</dict>
	<dict>
		<key>赠送空间</key>
		<array/>
	</dict>
	<dict>
		<key>赠送面积</key>
		<array/>
	</dict>
	<dict>
		<key>价格水平</key>
		<array/>
	</dict>
	<dict>
		<key>备注</key>
		<array/>
	</dict>
</array>
</plist>
