<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>locin_heat_Image</key>
			<string>点击登录</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>wifi_Image</key>
			<string>数据上传网络设置</string>
		</dict>
		<dict>
			<key>helf_Image</key>
			<string>帮助</string>
		</dict>
		<dict>
			<key>out_Image</key>
			<string>安全退出</string>
		</dict>
	</array>
</array>
</plist>
